# MATH 189 Project 2
## Group 2, Winter 2021

Members:
- Kasen Teoh
- Chung En Pan
- Nathan Fallahi
- Shaheen Daneshvar
- Parsa Ganjooi
- Eamon Jarrett-Mann

# Introduction

# Data

In [6]:
# imports and setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
# load the data and take a look
df = pd.read_csv('video.txt', sep='\\s+')
df2 = pd.read_csv('videoMultiple.txt', sep = '\\s+')

* Time: number of hours played in the prior week (in the smaller dataset)
* Like (to play): 1-never played, 2-very much, 3-somewhat, 4-not really, 5-not at all
* Where (to play): 1-arcade, 2-home system, 3-home computer, 4-arcade and one other, 5- home computer and system, 6-all three
* freq: 1-daily, 2-weekly, 3-monthly, 4-semesterly
* (Play if) busy: 1-yes, 0-no
* (think playing is) educ(ational):  1-yes, 0-no
* Sex:  1-male, 0-female
* Age: in years
* home:  has a computer at home 1-yes, 0-no
* (hate) math:  1-yes, 0-no
* work: number of hours worked in the prior week
* own (PC):  1-yes, 0-no
* (PC has) cd-rom:  1-yes, 0-no
* (have) email:  1-yes, 0-no
* grade (expected): 4-A, 3-B, 2-C, 1-D, 0-F
* action: plays action games
* adv: plays adventure games
* sim: plays simulation games
* sport: plays sport games
* strategy: plays strategy games
* relax: plays games to relax
* coord: plays games for hand/eye coordination
* challenge: plays games to challenge themselves
* master: plays games for the feeling of mastery
* bored: plays games because they are bored
* other: plays games for another reason (fitb)
* graphic: plays games for the graphics
* frust: dislikes games because they are frustrating
* lonely: dislikes games because they are lonely
* time: dislikes games because they are a waste of time (larger dataset)
* rules: dislikes games because there are too many rules
* cost: dislikes games because they cost too much
* boring: dislikes games because they are boring
* friends: dislikes games because their friends do not play
* point: dislikes games because they think it is pointless
* other2: dislikes games for some other reason (fitb)

Clearly, Time, Work and Age are continuous, while every other variable is discrete. The other variables (other & other2) are fill in the blank, not really continuous or discrete, just text.

# Background

# Investigation
How can we use this survey to inform the design of the new computer lab?

1. Begin by providing an estimate for the fraction of students who played a video game in the week prior to the survey. Provide an interval estimate as well as a point estimate for this proportion. Eamon

In [8]:
from statsmodels.stats.proportion import proportion_confint
expec = (len(df) - sum(df.time == 0)) / len(df) 
var = (expec * (1 - expec)/(len(df) - 1)) * ((314 - len(df))/(314))
std = var ** 1/2
interval_est = ( expec - ( 1.96 * std ), expec + ( 1.96 * std ))
print("point estimate: " + str(expec) + "\ninterval estimate: " + str(interval_est))

point estimate: 0.37362637362637363
interval estimate: (0.37181657702088866, 0.3754361702318586)

2. Check to see how the amount of time spent playing the video games in the week prior to the survey compares the reported frequency of play. How might the fact that there was an exam in the week prior to the survey affect your previous estimates and this comparison? Parsa

3. Consider making an interval estimate (confidence interval) for the average amount of time spent playing video games in the week prior to the survey. Keep in mind the overall shape of the sample distribution. A simulation study may help determine the appropriateness of an interval estimate. Kasen

4. Next consider the “attitude” questions. In general, do you think the students enjoy playing video games? If you had to make a short list of the most important reasons why students like/dislike video games, what would you put on the list>? Don’t forget that those students who say that they have never played video games or do not at all like video games are asked to skip over some of these questions. So, there may be many nonrespondents to the question as to whether they think video games are educational, where they play video games, etc. Kasen

5. Look for the differences between those who like to play video games and those who don’t. To do this, use the questions in the last part of the survey, and make comparisons between male and female students, those who work for pay and this who don’t , those who own a computer and those who don’t. Graphical display and cross-tabulations are particularly helpful in making these kinds of comparisons. Also, you may want to collapse the range of responses to a question down to two or three possibilities before making these comparisons. Shawn

6. (optional) Just for fun, further investigate the grade that students expect in the course. How does it match the target use in grade assignment of 20%A’s, 30% B’s, 40% C’s and 10% D or lower? If the nonrespondents were failing students who no longer bothered to come to the discussion section, would this change the picture? Nathan

7. Additional questions

In [9]:
df2.rename(columns = {"time":"wastetime"}).join(df)

,action,adv,sim,sport,strategy,relax,coord,challenge,master,bored,...,educ,sex,age,home,math,work,own,cdrom,email,grade
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,...,1,0,19,1,0,10,1,0,1,4
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0,0,18,1,1,0,1,1,1,2
2,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0,1,19,1,0,0,1,0,1,3
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,0,19,1,0,0,1,0,1,3
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,...,1,0,19,1,1,0,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,19,1,0,0,1,99,1,4
87,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,...,1,0,20,1,0,14,1,1,1,4
88,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1,0,33,1,0,40,1,0,0,2
89,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,1,19,1,0,5,1,1,1,3
90,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1,0,19,0,1,5,1,0,1,2

In [10]:
df.groupby(['sex'])['grade'].apply(np.mean)
#This shows that men expect higher grades on average, which seems to be consistent with the research [Beyer1999]

sex
0    3.026316
1    3.415094
Name: grade, dtype: float64

In [11]:
#time spent vs expected grade

from scipy.stats import ttest_ind
def time_grade(col, table1, table2):
    stat, pval = ttest_ind(table1[col], table2[col])
    return stat, pval

In [12]:
# df.hist(column = ['time'], by = ['freq'])

In [16]:
grades = {1:'D', 2:'C', 3:'B', 4:'A'}
for tup in [(1,2),(2, 3), (2, 4), (3, 4)]:
    grade_1 = tup[0]
    grade_2 = tup[1]
    print(grade_1)
    print(grade_2)
    df1 = df[(df.time != 0) & (df.grade == grade_1)]
    occ1 = len(df1)
    print("only " + str(occ1) + " occurences of " + grades[grade_1] + " with nonzero time")
    df2 = df[(df.time != 0) & (df.grade == grade_2)]
    occ2 = len(df2)
    print("only " + str(occ2) + " occurences of " + grades[grade_2] + " with nonzero time")
    if occ1 > 1:
        stat, p = ttest_ind(df1['time'], df2['time'])
        print(p)
    else:
        print("doesn't make sense to ttest with only n = 1 sample size")

1
2
only 0 occurences of D with nonzero time
only 1 occurences of C with nonzero time
doesn't make sense to ttest with only n = 1 sample size
2
3
only 1 occurences of C with nonzero time
only 17 occurences of B with nonzero time
doesn't make sense to ttest with only n = 1 sample size
2
4
only 1 occurences of C with nonzero time
only 16 occurences of A with nonzero time
doesn't make sense to ttest with only n = 1 sample size
3
4
only 17 occurences of B with nonzero time
only 16 occurences of A with nonzero time
0.2526754538103368

In [20]:
sum(df.grade == 2)

8

# Theory

# References

# Contributions

- Kasen Teoh
- Chung En Pan
- Nathan Fallahi
- Shaheen Daneshvar
- Parsa Ganjooi
- Eamon Jarrett-Mann